.callout p {
    @apply mb-0;
}

.docs_main {
    a[name] {
        @apply relative block invisible -top-[45px] sm:-top-[30px];
    }

    table {
        @apply border-collapse w-full text-base mb-4 text-base;

        th {
            @apply font-semibold;
        }

        th,
        td {
            @apply p-3 border border-gray-300 text-left;
        }

        /*
        * even,odd lines
        */

        th,
        tr:nth-child(odd) td {
            @apply bg-gray-50;
        }
    }

    ul:not(:first-of-type),
    .content-list ul {
        @apply list-none p-0 mx-0 mt-0 mb-4;

        li {
            @apply relative block ml-5 mb-4 text-gray-700;

            a {
                @apply no-underline;
            }

            &::before {
                content: "";
                @apply absolute w-[9px] h-[10px] left-0 -ml-5 top-[0.40em] bg-contain;
                background: url(/img/icons/ul_marker.min.svg) no-repeat center;
            }
        }
    }

    h1 + ul {
        @apply m-0 p-0 list-none;

        li {
            @apply block mb-[0.5em];
            & a {
                @apply relative font-normal text-gray-900 no-underline hover:underline;

                &::before {
                    content: "» ";
                    @apply text-orange-600 -mt-0.5 -ml-3 absolute;
                }
            }
        }

        ul {
            @apply mt-[0.5em] p-0 mb-0;

            li {
                @apply pl-[1.5em];

                a {
                    @apply font-normal;
                }
            }
        }
    }
}

.list-custom {
    li {
        @apply pl-4 relative;

        &:before {
            @apply absolute -ml-5 top-[0.15em] left-0 w-[9px] h-[10px] bg-contain bg-no-repeat;
            content: "";
            background: url(/img/icons/ul_marker.min.svg) 50%;
        }
    }
}

.table-of-contents {
    @apply !mb-4;
}
