.gradient-box {
    @apply relative bg-white dark:bg-dark-600 border-[5px] border-transparent rounded-2xl bg-clip-padding;

    &:before {
        @apply absolute inset-0 -m-[5px] bg-gradient-to-l from-[red] to-[orange];
        z-index: -1;
        content: "";
        border-radius: inherit;
    }
}
