.docs_sidebar {
    ul {
        @apply list-none m-0 p-0;

        li {
            @apply block py-[0.65em] px-0;

            h2,
            a {
                @apply block transition hover:translate-x-2 text-gray-900 no-underline mb-0 cursor-pointer text-sm px-1 hover:text-orange-500;
            }
        }

        ul {
            @apply overflow-hidden max-h-0 transition-all duration-500;

            li {
                a {
                    @apply relative pl-4 font-normal;
                }

                &.active a::before {
                    @apply absolute left-0 top-[0.25em] w-2 h-2 bg-center bg-no-repeat;
                    content: "";
                    background: url(/img/icons/active_marker.min.svg);
                }

                &.child-indicator > a::before {
                    content: "•";
                    @apply absolute left-[3px] top-0 text-gray-500;
                }
            }
        }

        .sub--on {
            > h2 {
                @apply mb-2 font-semibold;
            }

            ul {
                @apply max-h-none;
            }
        }
    }
}
