@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro:wght@400;600&display=swap");

.docs_main {
    /*
    * Headings
    */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold mb-4 md:mb-6 leading-tight text-gray-900;
    }

    h1 {
        @apply text-2xl md:text-3xl lg:text-4xl leading-tight font-normal mb-6;
    }

    h2,
    h3 {
        @apply mt-8 md:mt-12;
    }

    h2 {
        @apply font-normal text-lg md:text-2xl lg:text-3xl;
    }

    h3 {
        @apply font-normal text-base md:text-xl lg:text-2xl;
    }

    h4 {
        @apply mt-6 md:mt-10 font-normal text-base md:text-lg;
    }

    h5 {
        @apply font-normal text-base md:text-lg text-gray-700;
    }

    h6 {
        @apply font-normal text-base md:text-lg text-gray-600;
    }

    /*
    * Headings Decorations "»"
    */

    h2,
    h3,
    h4 {
        a:before {
            content: "»";
            @apply font-normal absolute text-red-600 opacity-60 -mt-1;
        }
    }

    h2 {
        a:before {
            @apply -ml-6 text-3xl -mt-1.5 md:-mt-0.5;
        }
    }

    h3 {
        a:before {
            @apply -ml-6 text-3xl -mt-2 md:-mt-1;
        }
    }

    h4 {
        a:before {
            @apply -ml-4 text-xl -mt-1 md:-mt-0.5;
        }
    }

    /*
    * Links
    */

    a {
        @apply relative no-underline transition-all;

        &.learn_more {
            @apply text-red-600 font-semibold;

            span {
                @apply inline-block transition-transform;
            }

            &:hover span {
                @apply translate-x-2;
            }
        }
    }

    /*
    * Paragraphs
    */

    p {
        @apply text-base leading-7 text-gray-700;

        strong {
            @apply font-semibold;
        }

        &.small {
            @apply text-xs md:text-sm leading-tight;
        }
    }

    p + pre {
        @apply mt-0;
    }

    p,
    ul,
    ol,
    pre {
        @apply mb-6;

        a {
            @apply no-underline break-words text-red-600 hover:text-red-700;
        }
    }

    q,
    blockquote p {
        quotes: "“" "”" "‘" "’";
    }

    blockquote {
        @apply sm:mx-0;
    }

    /*
    * Lists
    */

    ol {
        @apply leading-4 ml-4 list-decimal;
    }

    span {
        &.small_text {
            @apply block text-gray-700 text-sm leading-none;
            line-height: 1.4em;
        }
    }

    span.label,
    & label {
        @apply block opacity-40 uppercase mb-3;
        font-size: 0.625em;
        line-height: 1.4em;
        letter-spacing: 2.5px;
    }
}
